nav{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}
nav a{
    width: 100%;
    text-align: center;
}
#main_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#router_output{
    width: 75%;
    display: flex;
}
